<a href="https://colab.research.google.com/github/AlluNavya/FML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas as np
s1=pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
fruits=np.array(['apple','banana','mango'])
s1=pd.Series(fruits)
print(s1)

0     apple
1    banana
2     mango
dtype: string

In [ ]:
mylist=np.array([1,2,3,4])
df=pd.DataFrame(mylist)
print(df)

   0
0  1
1  2
2  3
3  4

In [ ]:
df1=pd.DataFrame({
    "c1":[1,2,3,4],
    "c2":['banana','mango','apple','fruits']
})
print(df1)

   c1      c2
0   1  banana
1   2   mango
2   3   apple
3   4  fruits

In [ ]:
items=[['phone',50000],['radio',2000],['tv',30000]]
df=pd.DataFrame(items)
print(df)

       0      1
0  phone  50000
1  radio   2000
2     tv  30000

In [ ]:
items=[['phone',50000],['radio',2000],['tv',30000]]
df=pd.DataFrame(items,columns=['item','price'])
print(df)
df.describe()

    item  price
0  phone  50000
1  radio   2000
2     tv  30000

              price
count      3.000000
mean   27333.333333
std    24110.855093
min     2000.000000
25%    16000.000000
50%    30000.000000
75%    40000.000000
max    50000.000000

In [ ]:
data = pd.read_csv('cars.csv')
print(data)

FileNotFoundError: ignored

In [ ]:
d1={
    'stu_id':[101,102,103],
    'stu_name':['navya','rohini','srija']
}
d2={
    'stu_id':[101,102,103],
    'stu_name':['vinnu','mahathi','namratha']
}
df1=pd.DataFrame(d1,columns=['stu_id','stu_name'])
print(df1)
df2=pd.DataFrame(d2,columns=['stu_id','stu_name'])
print(df2)
print(pd.merge(df1,df2,on='stu_id'))

   stu_id stu_name
0     101    navya
1     102   rohini
2     103    srija
   stu_id  stu_name
0     101     vinnu
1     102   mahathi
2     103  namratha
   stu_id stu_name_x stu_name_y
0     101      navya      vinnu
1     102     rohini    mahathi
2     103      srija   namratha

In [ ]:
raw = {
    'Name': ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin',
        'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position': [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year': [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks':[408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]
}
df3=pd.DataFrame(raw)
group = df3.groupby('Year')
print(df3)
group.get_group(2010)
pd.concat([df1,df2],axis=0)
df1.describe()

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

       stu_id
count     3.0
mean    102.0
std       1.0
min     101.0
25%     101.5
50%     102.0
75%     102.5
max     103.0

# New Section